body {
  margin: 0;
  /* background-image: url("../image/princecover.png"); */
  background-size: contain;
}

header {
  position: sticky;
  top: 0px;
  left: 140px;
  background: #fff;
  opacity: 0.8;
}

header.page-header {
  display: flex;
  height: 80px;
  min-width: 120px;
  align-items: center;
  color: #fff;
  text-shadow: #000 0 0 .2em;
  }

header.page-header > h1 {
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
      fantasy;
  color: #ffff00;
  margin: 10%;
}

.menu ul {
  opacity: 0.8;
  box-shadow: 4px 0 4px #fff;
  background: #996600;
  width: 140px;
  padding: 0;
  margin-top: 0;
  border-radius: 8px;
  /* 以下で設定する疑似要素を絶対配置するために必要 */
  position: fixed;
  cursor: pointer;
}

.menu li {
  display: flex;
  font-size: 14px;
  width: 100px;
  padding: 4px;
  margin: 8px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

li span::before {
  content: "";
  margin-top: 16px;
  margin-left: 2px;
  width: 1%;
  height: 2px;
  background: gold;
  position: absolute;
  transform: scale(0, 1);
  transition: transform .3s;
  transform-origin: bottom left;
}

li span:hover::before {
  transform: scale(80, 1);
}

main h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #fff;
  width: 600px;
  margin: 0 auto;
  position:absolute;
  top: 630px;
  left: 0px;
  right: 0px;
}

section .home1 {
  background: #eee;
  border-radius: 8px;
  display: block;
  width: 800px;
  height: 1080px;
  margin: 16px auto;
}

.home1 img {
  width: 800px;
  height: 1000px;
  display: block;
  object-fit: fill;
  margin: 0 auto;
}

section .home {
  border-radius: 8px;
  display: block;
  width: 800px;
  height: 450px;
  margin: 16px auto;
  background: #FFFFCC;
}

section img {
  display: block;
  object-fit: cover;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

section p {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.home1 .desc1 {
  position: relative;
  bottom: 560px;
}

.home1 .desc2 {
  position: relative;
  bottom: 540px;
}

section .university {
  width: 800px;
  margin: 16px auto;
  background:#D9E5FF;
  border-radius: 8px;
}

.university p {
  width: 730px;
  margin: 0 auto;
  margin-top: 16px;
  text-align: left;
}

.university img {
  width: 600px;
}

footer {
  background: #F0E68C;
  opacity: 0.6;
  padding: 16px;
  text-align: center;
}

footer .container {
  display: inline-block;  
}

footer small {
  font-size: 16px;
  margin: 0 auto;
}

footer ul {
  margin: 0 auto;
  padding-left: 0;
}

footer li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

footer li a{
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
