body {
  margin: 0;
  background-image: url("../image/princecover.png");
  background-size: contain;
}

header {
  position: sticky;
  top: 0px;
  left: 140px;
  background: #fff;
  opacity: 0.8;
}

header.page-header {
  display: flex;
  height: 80px;
  min-width: 120px;
  align-items: center;
  color: #fff;
  text-shadow: #000 0 0 .2em;
}

header.page-header > h1 {
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
      fantasy;
  color: #ffff00;
  margin: 10%;
}

main .container {
  width: 800px;
  min-width: 120px;
  margin: 0 auto;
  display: flex;
}

.menu ul {
  opacity: 0.95;
  box-shadow: 4px 0 4px #fff;
  background: #996600;
  width: 140px;
  padding: 3px 0 0 0;
  margin-top: 0;
  border-radius: 8px;
  /* 以下で設定する疑似要素を絶対配置するために必要 */
  position: relative;
  cursor: pointer;
}

.menu li {
  display: flex;
  font-size: 14px;
  width: 100px;
  padding: 4px;
  margin: 8px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

li span::before {
  content: "";
  margin-top: 16px;
  margin-left: 2px;
  width: 1%;
  height: 2px;
  background: gold;
  position: absolute;
  transform: scale(0, 1);
  transition: transform .3s;
  transform-origin: bottom left;
}

li span:hover::before {
  transform: scale(80, 1);
}

main {
  display: flex;
  justify-content: center;
  background-color: #DEB887;
  opacity: 0.8;
}

.container img {
  object-fit: contain;
  vertical-align: bottom;
  width: 300px;
  min-width: 120px;
  height: 360px;
}

.container p {
  font-size: 14px;
  margin: 0;
}

.container h1 {
  margin-left: 20px;
  font-size: 26px;
}

.container ul {
  font-size: 18px;
}

footer {
  background: #F0E68C;
  opacity: 0.6;
  padding: 16px;
  text-align: center;
}

footer .container {
  display: inline-block;  
}

footer small {
  font-size: 16px;
  margin: 0 auto;
}

footer ul {
  margin: 0 auto;
  padding-left: 0;
}

footer li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

footer li a{
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
